[Desktop Entry]
Version=1.0
Name=Live-Kernel-Updater
Icon=drive-removable-media-usb
Type=Application
Comment=Update the kernel on a live system
Terminal=true
Exec=sudo /usr/local/bin/live-kernel-updater --pause
Categories=ConsoleOnly;System;
